@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* ===========================
     Main parts starts
============================= */

/* =======================================
     Tournament name-banner-parts
========================================== */

.container{
    background: #2D25A0;
    
}

.tournament-name-banner{
    display: flex;
    justify-content: center;
    height: 600px;
    margin-left: 50px;
   
    
}

.tournament-name{
    font-size: 30px;
    margin-right: 102px;   
    color: whitesmoke;
    margin-top: 154px;
}
.container:hover .tournament-name{
   transform: scale(1.1);
   transition: transform 1.1s ease-out;
   color: cyan;
   color: rgb(255, 166, 0)
   
}

.link-button{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    background: #E02C6D;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
   
    
}
.fa-arrow-right{
   margin-left: 8px;
   
}
.tournnamrnt-banner img{
    width: 556.01px;
    height: 438px;
    margin-top: 100px;
}


/* =======================================
     Tournament name-banner-parts ends
========================================== */


/* ====================================
         Argentina Squad parts starts
======================================== */

.argentina-squad{
    width: 1050px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
    row-gap: 27px;
    margin-top: 70px;
    margin-left: 150px;

}
.player{
    width: 330px;
    height: 474px;
   
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

    
}
.player-image img{
    width: 300px;
    height: 256px;
    margin: 15px;
}
.player-name{
    width: 300px;
    height: 40px;
    margin: 0px 15px 10px;
    font-size: 16px;
    line-height: 5%;
    font-size: 22px;
}
.player-info{
    width: 300px;
    height: 104px;
    margin: 0px 15px 33px;
    line-height:80%;
    font-size: 18px;
    font-weight: 700;
    color: lightslategray;
    
}

/* ====================================
         Argentina Squad parts ends
======================================== */

/* ===========================
     Main parts ends
============================= */

/* ==================================
            Footer parts starts
   ================================== */ 

footer{
    text-align: center;
    margin-top: 100px;
}
.logo img{
    width: 483.87px;
    height: 110px;
}

.social-icon{
    margin-left: 40px;
}
.fab,.far{
    background-color: cyan;
    font-size: 20px;
    color: #969BAB;
    border-radius: 60px;
    margin-right: 14px;
    text-align: center;
    padding: 10px;
    
}
.copyright-text{
    font-size:22px ;
    margin-left: 20px;
}

/* ==================================
            Footer parts ends
   ================================== */ 


