@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(245, 245, 245, 0.39);
}
/* ===========================
     Main parts starts
============================= */

/* =======================================
     Tournament name-banner-parts
========================================== */

.container{
    background: #2D25A0;
    
}

.tournament-name-banner{
    display: flex;
    justify-content: center;
    height: 600px;
    margin-left: 50px;
   
   
    
}


.tournament-name{
    font-size: 30px;
    margin-right: 102px;   
    color: whitesmoke;
    margin-top: 154px;
}
.container:hover .tournament-name{
   transform: scale(1.1);
   transition: transform 1.1s ease-out;
   color: cyan;
   color: rgb(255, 166, 0)
   
}
.container:hover .tournament-banner{
    transform: scale(1.1);
    transition: transform 1.1s ease-out;
}
.link-button{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    background: #E02C6D;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    border-radius: 10px;
   
    
}
.fa-arrow-right{
   margin-left: 8px;
   
}
.tournament-banner img{
    width: 556.01px;
    height: 438px;
    margin-top: 100px;
}


/* =======================================
     Tournament name-banner-parts ends
========================================== */


/* ====================================
         Argentina Squad parts starts
======================================== */

.argentina-squad{
    width: 1050px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
    row-gap: 27px;
    margin-top: 70px;
    margin-left: 150px;

}
.player{
    width: 330px;
    height: 474px;
   
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

    
}
.player-image img{
    width: 300px;
    height: 256px;
    margin: 15px;
}
.player-name{
    width: 300px;
    height: 40px;
    margin: 0px 15px 10px;
    font-size: 16px;
    line-height: 5%;
    font-size: 22px;
}
.player-info{
    width: 300px;
    height: 104px;
    margin: 0px 15px 33px;
    line-height:80%;
    font-size: 18px;
    font-weight: 700;
    color: lightslategray;
    
}

/* ====================================
         Argentina Squad parts ends
======================================== */

/*=================================== 
          point part starts
==================================== */
.point-part{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    background-color: black;
    
    
}
.point-part:hover .match-data{
    color: white;
    transition: color 1.5s ease-out;
    
}

.point-part-heading{
color: white;
text-decoration: underline;
position: relative;
left: 320px;



}

.point-table{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap:40px;
    row-gap: 20px;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-right: 120px;
 
   
    
}

.match-data{
    font-size: 1.5em;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue; 
}

/*=================================== 
          point part ends
==================================== */


/* ================================
       Matches part starts
=================================== */
.matches{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
}
.match{
   margin-right: 50px;
   margin-bottom: 50px;
   box-shadow: 5px 5px 10px  gray;
}
.match:hover{
    transform: scale(1.1);
    transition: transform 2s ease-out, color 1.5s ease-out;
    color: blue;
}

.match-image img{
    width:450px;
    height: 250px;
    padding: 10px;
}

.match-info{
    width:450px;
    text-align: center;
  

}
.match-info:hover{
    transform: scale(1.05);
    transition: transform 1.5s ease-out;
    
}
.live-link{
    margin-left:100px;
}
 


/* ================================
       Matches part starts
=================================== */

/* ===========================
     Main parts ends
============================= */

/* ==================================
            Footer parts starts
   ================================== */ 

footer{
    text-align: center;
    margin-top: 100px;
}
.logo img{
    width: 483.87px;
    height: 110px;
}

.social-icon{
    margin-left: 40px;
}
.fab,.far{
    background-color: cyan;
    font-size: 20px;
    color: #97a3ca;
    border-radius: 60px;
    margin-right: 14px;
    text-align: center;
    padding: 10px;
    
}
.copyright-text{
    font-size:22px ;
    margin-left: 20px;
}

/* ==================================
            Footer parts ends
   ================================== */ 


/*====================== 
       Media Queries
 ========================*/

 @media only screen and (max-width:688px){
    .container{
        width: 100%;
        height: 1000px;
        
    }
    .tournament-name-banner{
        display: flex;
        
        flex-direction: column;
    }
    
    .tournament-name{
         font-size: 20px;
         margin-top: 200px;
         margin-right: 0;
     }
     .tournament-banner{
         width: 150px;
         position: relative;
         right: 100px;

     }
    
    .players{
       display: grid;
       grid-template-columns: repeat(1,1fr);
       margin-left: 75px;
    }
    .point-part-heading{
       bottom: 25px;
       font-size: 16px;
       margin-bottom: 50px;
      
    }
    .point-part{
        width: 100%;
    }
    .point-table{
        margin-right: 80px;
    }
    .matches{
        flex-direction: column;
        margin-left: 20px;
    }
    .match{
        margin-left: 20px;
    }
    .match-data{
       font-size: 16px;
       width: 27px;
      
       color: blue; 
   }
    .match-image img{
       width:350px;
       height: 250px;
       padding: 30px;
    }
    .live-link{
        margin-left: 10px;
    }
    
    .logo img{
        width: 400px;
    }

}
    
